# Enviroment
.env
node_modules
dist
dist-ssr
*.local


# IDE directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# python logs
__pycache__
logs/
.ruff_cache